/* slider.css */
.h_24_rem {
  height: 24rem;
}

@media (min-width: 768px) {
  .h_24_rem {
    height: 32rem;
  }
}

@media (min-width: 1024px) {
  .h_24_rem {
    height: 40rem;
  }
}

@media (min-width: 1280px) {
  .h_24_rem {
    height: 48rem;
  }
}

.border_radious_none {
  border-radius: 0;
}
